*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    overflow-x: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}
body{
    background-color: rgba(0, 0, 0, 0.84);

}
*{
    font-variant: small-caps;
    text-decoration: none;

}
.container{
}

.page {
    height: 100vh;
    width: 100%;
}
#zero{
    background-color: rgba(124, 21, 0, 0.84);
    width: 100%;
}
.logo{
    font-family: 'Poiret One', cursive;
    font-size: 12em;
    font-weight: 200;
    top: calc(50% - 150px);
    text-align: center;
    color: rgba(255, 255, 253, 1);
    filter: blur(0);
    opacity: .8;
    position: fixed;
    width: 100vw;
    height: auto;
}

#player{
    overflow: hidden;
    background-image: url("../images/blurcopy.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
}
.background-overlay{
    position: absolute;

    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(300deg, rgba(0, 68, 100, 0.94), rgba(73, 12, 0, 0.44), rgba(0, 0, 0, 1)); /* Standard syntax */
    height: 100%;
    width: 100%;

}

.nav{
    width: 100%;
    top: 0;
    z-index: 99;
    text-align: center;
    position: fixed;
}
.menu-icon{
    text-align: center;
    display: none;
    cursor: pointer;
    color: rgba(239, 239, 239, 0.92);
    opacity: .8;
    width:50px;
    background-color: rgba(0, 0, 0, 0.8);

}
.icon{
    border: 1px solid;
    height: 0px;
}
.links-container{
    background-color: rgba(17, 26, 36, 0.06);
    display: block;
    width: 100%;
}
.link{
    opacity: 1;
    border: 0px solid ;
    width: 150px;
    font-size: 1.5em;
    margin: 10px 10px 0 0;
    display: inline-block;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.27);
    transform: matrix(1, 0, 0, 1, 0, 0);
}
@media screen and (max-width: 820px) and (min-width: 500px){ /* medium sized screen*/
    .logo{
        display: none;
    }
    .nav{
        width: auto;
    }
    .menu-icon{
        display: block;
        float: left;
    }
    .links-container{
        clear: both;
        background-color: black;
        height: 100vh;
    }
    .link{
        float: left;
        clear: both;
        line-height: 2;
        border: 0;
        border-top: 1px solid;
        font-size: 1.5em;
    }
}
@media screen and (max-width: 500px) and (min-width: 0px) { /*small screen*/
    .logo{
        font-size: 7em;
    }
    .menu-icon{
        margin: auto;
        display: block;

    }
    .link{
        line-height: 2;
        border: 0;
        border-bottom: 1px solid;
        font-size: 1.5em;
        width: 100vw;
        height: 10vh;
    }
}
.link:hover{
    animation-name: hover;
    animation-fill-mode: forwards;
    animation-duration: 300ms;
}
.cameraIcon{
    background-image: url('../images/camera-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;


}
@keyframes hover{
    0%{
        opacity: .2;
        color: rgba(20, 20, 20, 1);

    }
    100%{
        opacity: 1;

        color: rgb(0, 176, 255);

    }
}
.mobile-nav{

    float: left;
    clear: both;
    animation-name: slideleft;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
    padding:5px 0 5px 10px;

}
@keyframes slideleft {
    0%{

    }
    100%{

    }
}
#page1{
    background-color: #2a2c3a;
    }
.me{
    background-image: url('../images/me-blend.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 200px;
}
/*
.me:before{
    content: ""; position: absolute; height: 0; width: 0; top: -85px; left: -18px; border-width: 0 45px 35px; border-style: solid; border-color: transparent transparent red;
}
*/

#page2{
    background-color: #111a24;
}
#page3{

}
